# ----------------------------------------
# PARAMETERS
# ----------------------------------------
output_file_name = 'AAA_docking_ready.pdb'

alignment_pdb = 'BBB'
alignment_landmark = 'DDD'

prmtop = 'protonated.prmtop'
nc = 'min.nc'
mobile_landmark = 'CCC'
selection = 'resname WAT'
dx_files = ['../example_dx_results/solvent.dx','../example_dx_results/solvent_b_factor_average.dx']
dx_booleans = ['bin_value > 0.1*max_value','bin_value < 0.30*max_value']	# bin has greater than 7.5% of maximum sampling and bin has average b-factor less than 70% of maximum avg b-factor (units: A^2)

summary_boolean = True		# Boolean value; if True, the script will print out a summary file that breaks down the parameters used in the analysis and how to rerun the same analysis

