# ----------------------------------------
# PARAMETERS
# ----------------------------------------
pdb = 'structures/6WX4_chain_D_aligned_6WX4.pdb'
selection = 'not type H ZN and (not segid B or resname HOH)'
output_file_name = '6WX4_chain_D_aligned_6WX4/6WX4_chain_D_aligned_6WX4.pdb'

change_resnames = [[272,'HIE']]	#[[17,'HIE'],[47,'HID'],[50,'HIE'],[73,'HID'],[89,'HID'],[175,'HID'],[255,'HIE'],[275,'HID'],[319,'HIE'],[320,'HID']]
#change_resnames = [[272,'HIE'],[501,'ZN1'],[189,'CY1'],[192,'CY1'],[224,'CY1'],[226,'CY1']]	#[[17,'HIE'],[47,'HID'],[50,'HIE'],[73,'HID'],[89,'HID'],[175,'HID'],[255,'HIE'],[275,'HID'],[319,'HIE'],[320,'HID']]

